<li><a onClick="home();" href="#">Home</a></li>
<li><a href="#">Channels</a>
<ul>
	<li><a onClick="addUser();" href="#">Add channel</a></li>
	<li><a onClick="editCh();" href="#">Channel editor</a></li>
	<li><a onClick="addCat();" href="#">Manage Categories</a></li>
</ul>
</li>
<li><a href="#">Users</a>
<ul>
	<li><a onClick="memb();" href="#">Manage</a></li>
	<li><a onClick="ipLogger();" href="#">Connections</a></li>
	<li><a onClick="resel();" href="#">Resellers</a></li>
</ul>
</li>
<li><a href="#">Tools</a>
<ul>
	<li><a onClick="cons();" href="#">Console Log</a></li>
	<li><a onClick="cedit();" href="#">Config</a></li>
	<li><a href="/backup">DataBase</a></li>
	<li><a onClick="togglelic()" style="cursor:pointer;">Add License</a></li>
	<li><a onClick="usage();" href="#">Stats</a></li>
	<li><a onClick="rest();" href="#">Restart</a></li>
</ul>
</li>